# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/data/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
public/data/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
